@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
@import "./animations.scss";
@import "./variables.scss";

$primary-color: #172b4d;
$primary-color-alt: #eebb1a;

.pri-color-alt {
    background-color: $primary-color-alt;
    color: #fff;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    // font-family: "Poppins", sans-serif;
    *:not(.fa, .ni) {
        font-family: "Montserrat", sans-serif !important;
    }
}
.sections:is(.container, .container-fluid) {
    @include mq(768) {
        padding-left: 0 !important;
        padding-right: 0 !important;
        > .card-body {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}

.course-menu {
    section {
        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            margin: 10px 0;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(23, 43, 77, 0.816);
            border-radius: 30px 0 0 30px;
        }

        max-height: 200px;
        overflow-y: scroll;
    }
}

#page_layout {
    display: grid;
    height: 100%;
    grid-template-rows: max-content minmax(max-content, 1fr) auto;
    overflow-y: auto;
}

#main_header {
    position: sticky;
    top: 0;
    z-index: 1000;
    #general_nav {
        .navbar-brand {
            font-size: 1.2em;
            img {
                height: 50px;
            }
        }
        .nav-link {
            font-weight: 600;
            &.nav-link-icon {
                font-size: 0.9em;
            }
        }
        .navbar-collapse .collapse-brand img {
            height: 45px;
        }
    }
}

#homepage {
    background-color: #dddddd59;
    .hero_section {
        background-image: url("https://res.cloudinary.com/https-midastouchacademy-com/image/upload/v1618726423/mti_primary_img.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100% 120vh;
        min-height: 89vh;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &::before {
            background-color: #0e0e0eb0;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            content: "";
        }

        .section_intro {
            align-self: center;
            position: relative;
            top: 70px;
            margin-bottom: 100px;
            padding: 0 3vmax;
            animation-duration: 2s;
            animation-name: intro_fade;
            animation-fill-mode: forwards;
            opacity: 0;

            > .main_text {
                color: whitesmoke;
                font-size: clamp(8vmin, 10vmin, 8vmin);
                font-weight: 800;
                margin: 0;
                line-height: 1.4em;
                margin-bottom: 10px;
            }

            > .sub_text {
                width: 50ch;
                word-break: break-word;
                font-size: 20px;
                line-height: 2em;
                font-weight: 600;
                @include mq(650) {
                    width: auto;
                }
            }

            > a.btn {
                margin-top: 20px;
                font-size: 1em !important;
                padding: 1em 2em !important;
            }
        }

        #scroll-down {
            flex-basis: 100%;
            text-align: center;
            position: relative;
            animation-name: bouncing_arrow;
            animation-duration: 0.6s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-fill-mode: forwards;
            margin-bottom: 3em;
            top: 30px;

            .bouncing_arrow {
                margin: auto;
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: whitesmoke;

                > i {
                    position: relative;
                    top: 2px;
                    font-size: 1.2em;
                }
            }
        }
    }

    .blog {
        @include fancy_scrollbar;
        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap;
        gap: 1em;
        padding-bottom: 30px;

        .blog-post {
            border-radius: 10px;
            position: relative;
            box-shadow: 0px 0px 10px #010d2114;
            flex-grow: 1;
            height: 150px;

            .excerpt {
                display: flex;
                flex-wrap: nowrap;
                width: 36em;
                border: 0;
                overflow: hidden;

                .thumbnail {
                    width: 170px;
                    height: 150px;

                    .card-img-top {
                        border-radius: 5px;
                        height: 150px;
                        width: 170px;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    padding: 1em;
                    .title {
                        display: block;
                        font-size: 1.1em;
                        margin-bottom: 10px;
                        font-weight: 600;
                    }
                    .short-text {
                        color: #41474ccf;
                        margin-top: 10px;
                        p {
                            font-weight: 600 !important;
                            font-size: 14px;
                        }
                    }
                    small {
                        font-size: 0.8em;
                        font-weight: 600;
                        color: #fff !important;
                        background-color: $primary-color-alt !important;
                        border-color: $primary-color-alt;
                        width: fit-content;
                    }
                }
            }
        }
    }

    .tutors_section {
        height: auto;

        .label {
            color: #fff;
            margin-bottom: 1em;
        }

        .wrapper {
            padding: 1em 0 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: auto;
            @include fancy_scrollbar;
            @include mq(700) {
                justify-content: start;
            }
            .tutor_info {
                padding: 0 2em;
                text-align: center;

                img {
                    border-radius: 50%;
                    width: 250px;
                    height: 250px;
                    box-shadow: 0px 0px 3px 3px #476cab47,
                        -2px -2px 2px 2px $primary-color;
                    @include mq(768) {
                        height: 200px !important;
                        width: 200px !important;
                    }
                }
                &:first-of-type,
                &:last-of-type {
                    img {
                        width: 180px;
                        height: 180px;
                    }
                }
                .name {
                    color: #fff;
                    padding-top: 10px;
                    font-weight: bold;
                    .role {
                        display: block;
                        line-height: 2em;
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .upcoming_events {
        padding: 0 5vmax;
        @include mq(768) {
            padding: 0 1vmax;
        }
        .event_listing {
            margin: 1em auto 0;
            width: 90%;
            .carousel-inner {
                height: 400px;
                .carousel-item img {
                    height: 400px;
                    width: 100%;
                    object-fit: cover;
                }
                @include mq(768) {
                    height: 300px;
                    .carousel-item img {
                        height: 300px;
                    }
                }
            }
        }
    }
}

#course_page {
    padding: 0 4vw;

    .banner {
        border-radius: 5px;
        position: relative;
        height: 300px;

        &::before {
            background-color: #0e0e0e9e;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            content: "";
            border-radius: 0 0 7px 7px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin: auto;
            display: block;
            border-radius: 5px;
        }
    }

    .about_course {
        position: relative;
        margin-top: -35vh;
        margin-bottom: 5em;
        gap: 2em;

        > .course_title {
            font-weight: 600;
            color: white;
            line-height: 2em;
            font-size: 2em;
            margin-bottom: 0;
        }
        > small.excerpt {
            color: #ddd;
            font-weight: 600;
            display: block;
            font-size: 0.8em;
            margin-bottom: 25px;
            width: 70%;
            line-height: 2em;
        }
        > article {
            padding: 2em;
            border-radius: 5px;
            box-shadow: 0px 0px 10px #010d2114;
            background-color: white;
            display: flex;
            @include mq(800) {
                flex-direction: column;
            }
            column-gap: 2em;
            justify-content: space-between;
            > article {
                flex-basis: 68%;
                .excerpt {
                    label {
                        font-weight: 600;
                        font-size: 1.2em;
                        text-transform: capitalize;
                    }
                    article {
                        font-size: 15px;
                        line-height: 1.8em;
                    }
                }
            }

            > aside {
                flex-basis: auto;
                label {
                    font-weight: 600;
                    font-size: 1.3rem;
                }
                .tutor_info {
                    border-radius: 5px;
                    box-shadow: 0px 2px 10px #25262914;
                    width: 300px;
                    .background {
                        height: 200px;
                        background: url("https://res.cloudinary.com/https-midastouchacademy-com/image/upload/v1618693692/mti_logo.jpg")
                            no-repeat center;
                        background-size: 100%;
                        background-position-y: -13vh;
                        width: 100%;
                        .cover {
                            background-color: #04034304;
                            height: 200px;
                            width: 100%;
                            border-radius: 5px;
                        }
                    }

                    p {
                        margin-top: -6vh;
                        img {
                            height: 80px;
                            width: 80px;
                            border-radius: 50%;
                            display: block;
                            margin: auto;
                            object-fit: cover;
                            position: relative;
                            margin-top: -6vh;
                            margin-bottom: 0.5em;
                        }
                        background-color: $primary-color;
                        color: #ddd;
                        border-radius: 0 0 5px 5px;
                        .name {
                            font-weight: 600;
                            font-size: 15px;
                        }
                        .role {
                            font-size: 13px;
                            display: block;
                            line-height: 2em;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    #more_courses {
        margin-bottom: 5em;
        header {
            font-weight: 600;
            font-size: 1.5em;
            margin-bottom: 1em;
        }
        > section {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            @include mq(800) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include mq(480) {
                grid-template-columns: 1fr;
            }
            column-gap: 1.5em;
            row-gap: 3em;

            > article {
                border-radius: 5px;
                box-shadow: 0px 0px 10px #010d2114;
                // width: 250px;
                header {
                    font-size: 1.2em;
                    padding: 10px;
                    font-weight: 600;
                    font-size: 1em;
                    color: $primary-color;
                }
                .image {
                    height: 180px;
                    overflow: hidden;
                    img {
                        transition: 0.3s;

                        &:hover {
                            transform: scale(1.1);
                        }
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                footer {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    span {
                        font-weight: 600;
                        img {
                            height: 58px;
                            width: 58px;
                            object-fit: cover;
                        }
                        &.tutor {
                            color: $primary-color;
                            display: inline-block;
                            padding: 0 10px;
                            font-size: 15px;
                            vertical-align: middle;
                        }
                        &.role {
                            display: block;
                            font-size: 13px;
                            color: #010d2180;
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }

    @include mq(768) {
        padding: 0;
        .banner {
            height: 400px;
        }
        .about_course {
            > .course_title {
                line-height: 1.5em;
            }
            small.excerpt {
                width: 100%;
            }
        }
    }

    @include mq(400) {
        .about_course {
            > article {
                padding: 1.5em 1em;
                .tutor_info {
                    width: 100% !important;
                }
            }
        }
    }
}

#courses_all {
    padding: 0 4vw;
    .banner {
        border-radius: 5px;
        position: relative;
        height: 200px;

        &::before {
            background-color: #0e0e0e9e;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            content: "";
            border-radius: 0 0 7px 7px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin: auto;
            display: block;
            border-radius: 5px;
        }

        p {
            position: relative;
            top: -110px;
            left: 20px;
            color: #fff;
            font-weight: 600;
            margin-bottom: 0;
            font-size: 2em;
            @include mq(480) {
                left: 0;
                font-size: 1.5em;
                padding: 0 15px;
            }
            &.small {
                font-size: 14px;
            }
        }
    }

    #courses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include mq(800) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include mq(480) {
            grid-template-columns: 1fr;
        }
        column-gap: 1.5em;
        row-gap: 3em;
        margin: 3em 0 5em;
        > article {
            border-radius: 5px;
            box-shadow: 0px 0px 10px #010d2114;
            // width: 250px;
            header {
                font-size: 1.2em;
                padding: 10px;
                font-weight: 600;
                font-size: 1em;
                color: $primary-color;
            }
            .image {
                height: 180px;
                overflow: hidden;
                img {
                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            footer {
                display: flex;
                align-items: center;
                padding: 10px;
                span {
                    font-weight: 600;
                    img {
                        height: 58px;
                        width: 58px;
                        object-fit: cover;
                    }
                    &.tutor {
                        color: $primary-color;
                        display: inline-block;
                        padding: 0 10px;
                        font-size: 15px;
                        vertical-align: middle;
                    }
                    &.role {
                        display: block;
                        font-size: 13px;
                        color: #010d2180;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}

#our_team {
    .banner {
        background-image: url("https://res.cloudinary.com/https-midastouchacademy-com/image/upload/v1619206160/team_bg.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
        display: table;
        position: relative;
        &::before {
            background-color: #0e0e0eb0;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            content: "";
        }
        .label {
            padding: 2em;
            @include mq(680) {
                padding: 1em;
            }
            display: table-cell;
            vertical-align: middle;
            position: relative;
            color: white;
            line-height: 2em;
            .big-text {
                font-size: 2.5em;
                margin-bottom: 5px;
                font-weight: 600;
            }
        }
    }

    .profiles {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 300px);
        justify-content: center;
        row-gap: 2em;
        column-gap: 1em;
        margin: 5em 2em;
        > .tt_card {
            position: relative;
            box-shadow: 0px 0px 10px #010d2114;
            border-radius: 5px;
            height: 300px;
            overflow: hidden;

            .tt_card_img img {
                height: 100%;
                width: 295px;
                display: block;
                border-radius: 5px;
            }
            .card_label {
                position: absolute;
                width: 100%;
                padding: 0.7em;
                bottom: 0;
                background-color: $primary-color;
                text-align: center;
                span {
                    color: #ddd;
                    display: block;
                    &.name {
                        font-weight: 600;
                        font-size: 15px;
                        margin-bottom: 4px;
                    }
                    &.role {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

#bio {
    section.bg {
        background: url("https://res.cloudinary.com/https-midastouchacademy-com/image/upload/v1618726433/bio_primary_background.jpg");
        height: 300px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        > div {
            position: relative;
            text-align: center;
            top: 70px;
            z-index: 4;
            p {
                color: white;
                font-weight: 600;
                font-size: 1.5em;
            }
            img {
                height: 150px;
                width: 150px;
                border-radius: 50%;
            }
        }
        &::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: #010d219e;
        }
    }

    .bio_info {
        // margin-top: 80px;
        padding: 0 2em;
        margin-bottom: 5em;
        display: flex;
        gap: 2em;
        > article {
            flex-basis: 80%;
            margin: auto;
            box-shadow: 0px 1px 5px 1px #010d211a;
            padding-top: 80px;
            .excerpt {
                border-radius: 5px;
                padding: 1em;
                font-size: 15px;
                line-height: 1.8em;
                label {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }
}

#library {
    background: url("https://res.cloudinary.com/https-midastouchacademy-com/image/upload/v1618726431/mti_library_bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        padding: 1em 2em;
        background-color: #fff;
        opacity: 0.7;
        border-radius: 5px;
        > h5 {
            background: url("https://res.cloudinary.com/https-midastouchacademy-com/image/upload/v1618726431/mti_library_bg.jpg");
            background-size: 100%;
            background-position: center;
            font-size: 4em;
            font-weight: 600;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            line-height: 1.2em;
            padding: 20px;
            text-align: center;
            label {
                font-size: 0.5em;
                line-height: 0;
            }
        }
    }
    @include mq(768) {
        background-size: 100% 100%;
        > div {
            margin: 0 1em;
            > h5 {
                font-size: 3em;
            }
        }
    }
}

#tutors_page {
    .banner {
        padding: 0;
        background: url("https://res.cloudinary.com/https-midastouchacademy-com/image/upload/v1619218585/tutors_bg.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 250px;
        width: 100%;
        display: table;
        position: relative;
        &::before {
            background-color: #0e0e0eb0;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            content: "";
        }
        .label {
            padding: 2em;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            position: relative;
            color: white;
            line-height: 2em;
            .big-text {
                font-size: 2.5em;
                margin-bottom: 5px;
                font-weight: 600;
            }
        }
    }

    > article {
        padding: 2em;

        h3 {
            font-weight: 600;
        }
        .excerpt {
            line-height: 2em;
            color: rgba(0, 0, 0, 0.693);
        }

        .tutor_images {
            margin: 1.5em auto;
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            justify-content: center;
            row-gap: 2em;
            column-gap: 1em;
            > .tt_card {
                position: relative;
                box-shadow: 0px 0px 10px #010d2114;
                border-radius: 5px;
                height: 300px;
                overflow: hidden;

                .tt_card_img img {
                    height: 100%;
                    width: 300px;
                    display: block;
                    border-radius: 5px;
                }
                .card_label {
                    position: absolute;
                    width: 100%;
                    padding: 0.7em;
                    bottom: 0;
                    background-color: $primary-color;
                    text-align: center;
                    span {
                        color: #ddd;
                        display: block;
                        &.name {
                            font-weight: 600;
                            font-size: 15px;
                            margin-bottom: 4px;
                        }
                        &.role {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        @include mq(680) {
            padding: 2em 1.5em;
            h3 {
                font-size: 1.5em;
            }
        }
    }
}

#about_page {
    .banner {
        background: url("https://res.cloudinary.com/https-midastouchacademy-com/image/upload/v1618998200/mti_about_bg.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 250px;
        width: 100%;
        display: table;
        position: relative;
        &::before {
            background-color: #0e0e0eb0;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            content: "";
        }
        .label {
            padding: 2em;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            position: relative;
            color: white;
            line-height: 2em;
            .big-text {
                font-size: 2.5em;
                margin-bottom: 5px;
                font-weight: 600;
            }
        }
    }

    > section {
        position: relative;
        padding: 2em;
        @include mq(680) {
            padding: 2em 1.5em;
        }
        &.excerpt {
            margin: auto;
            p {
                line-height: 2em;
                font-weight: 500;
                color: rgba(24, 13, 13, 0.652);
                font-size: 1.1em;
            }
        }
        @include mq(768) {
            h3 {
                font-size: 1.8em;
            }
            .excerpt {
                width: auto;
            }
        }
    }
}

#registration_page,
#login_page {
    position: relative;
    background: url("https://res.cloudinary.com/https-midastouchacademy-com/image/upload/v1618726423/mti_primary_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 120vh;

    &::before {
        background-color: #0e0e0eb0;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        content: "";
    }

    > section {
        width: min(100%, 50vmax);
        margin: 5em auto;
        @include mq(520) {
            margin: 5em 0 !important;
        }
        position: relative;

        .nav-link {
            font-weight: 600;
            font-size: 1em;
            &.active {
                background-color: $primary-color;
            }
        }
    }
    form {
        label {
            font-weight: 600;
        }
        .form-wrapper {
            background-color: #f4f5f7;
            border-radius: 5px;
            padding: 1.5em;
            header {
                font-size: 1.5em;
                font-weight: 600;
                padding: 0 0 1em;
                text-transform: capitalize;
            }
            .form-error {
                font-size: 13px;
                font-weight: 600;
                color: #f5365cc7;
            }
            .form-control {
                font-weight: 600;
                font-size: 14px;
            }
        }
    }
}

#general_footer {
    border-top: 1px solid rgba(221, 221, 221, 0.268);
    nav a {
        color: #fff;
        margin: 0 10px;
        font-size: 14px;
        white-space: nowrap;
    }
    .social img {
        height: 30px;
        width: 30px;
        margin-left: -10px;
    }
}

@import "./breakpoint.scss";
