@import "./variables.scss";

.ck.ck-toolbar,
.ck.ck-button,
a.ck.ck-button,
.ck.ck-toolbar__separator {
    background-color: $primary-color !important;
}

.ck.ck-editor__editable_inline {
    box-shadow: 0px 0px 5px #525f7f30 !important;
    border-color: transparent !important;
}

.nav {
    box-shadow: 1px 0px 15px #eff1f5;
    height: 50px;
    display: table;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 0.5em;
    background-color: white;
    z-index: 10;
    &-icon {
        img {
            height: 50px;
        }
    }
    &-text {
        display: table-cell;
        vertical-align: middle;
        color: #fff;
        font-weight: 600;
    }
}

main {
    display: grid;
    align-items: flex-start;
    .sidebar {
        &-left {
            background-color: #c6d9f947;
            box-shadow: $box-shadow;
            height: 100%;
            width: 80px;
            min-height: 100px;
            position: fixed;
            @include mq(520) {
                display: none;
            }
            ul {
                display: flex;
                flex-direction: column;

                li {
                    margin: 1em auto;
                    text-align: center;
                    width: 100%;
                    &.logout {
                        position: absolute;
                        bottom: 110px;
                        a {
                            background-color: #df405a !important;
                            color: white;
                            box-shadow: 0px 0px 4px #98252599;
                        }
                    }
                    @include mqh(600) {
                        margin: 1.5em auto 0;
                        &:last-child {
                            bottom: 5px;
                        }
                    }
                    a {
                        text-decoration: none !important;
                        font-weight: 600;
                        height: 50px;
                        width: 50px;
                        margin: auto;
                        box-shadow: 0px 0px 100px #172b4d3d;
                        background-color: transparent;
                        color: #12408eb5;
                        display: flex;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        transition: background-color 0.1s 0s linear,
                            color 0.2s 0s linear;
                        .material-icons {
                            display: none;
                        }
                        .icon {
                            width: auto !important;
                            height: auto !important;
                            img {
                                height: 23px;
                                width: 23px;
                            }
                        }
                        &.active,
                        &:hover {
                            background-color: $primary-color;
                            color: white;
                            box-shadow: 0px 0px 4px #070f1df0;
                        }
                    }
                }
            }
        }
    }

    .content {
        padding: 0 1em;
        margin-bottom: 10em;
        margin-left: 80px;
        position: relative;

        @include mq(520) {
            margin-left: 0;
        }

        // * overwrite datatable pagination
        .pagination {
            .page-link {
                width: fit-content;
                height: fit-content;
                border-radius: 0px !important;
                padding: 0.6em 0.8em;
            }
            .page-item.active * {
                background-color: #172b4d;
                border-color: #172b4d;
            }
        }

        .content-header {
            padding: 0.5em 0;
            > p {
                font-weight: 600;
                font-size: 1.3em;
                margin: 0.5em 0 0;
            }
        }

        &-body {
            display: grid;
            grid-template-columns: 1fr 400px;
            padding: 1em;
            gap: 1em;
            .event {
                background-image: linear-gradient(
                    315deg,
                    #b1bfd8 0%,
                    #6782b4 74%
                );
                padding: 1em;
                border-radius: 15px;
                display: flex;
                gap: 1em;
                &-img {
                    position: relative;
                    width: 300px;
                    aspect-ratio: 2 / 1.5;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 30px 70px / 20% 10%;
                    }
                }
                &-caption {
                    margin-top: 1.3em;
                    .coming-soon {
                        margin: 0;
                        color: white;
                        font-weight: 600;
                    }
                    p {
                        font-weight: 600;
                        color: #fff;
                        font-size: 2em;
                        margin: 0;
                        &.small-text {
                            margin: 0;
                            font-size: 1em;
                        }
                    }
                }
            }
            .sidebar {
                background-color: #d9e4f5;
                background-image: $alt-gradient-bg;
                box-shadow: 0px 0px 5px #172b4d3d;
                height: 200px;
                padding: 1em;
                header {
                    font-weight: 600;
                    font-size: 1.5em;
                }
            }
        }

        .new-post {
            gap: 2em;
            padding: 1em;
            box-shadow: 0px 0px 5px #525f7f30;
            border-radius: 15px;
            margin-top: -10px;
            &.edit {
                .dropify-wrapper .dropify-preview {
                    z-index: 23 !important;
                    img {
                        width: 100%;
                    }
                }
            }
            .post-thumbnail {
                width: 400px;
            }
            .post-body {
                flex: 1 1 0;
                .form-group > label {
                    font-weight: 600;
                    color: #525f7f;
                }
            }
            @include mq(1020) {
                flex-direction: column;
                .post-thumbnail {
                    width: 100%;
                }
            }
        }

        .articles-overview {
            display: grid;
            grid-template-columns: repeat(auto-fit, 400px);
            @include mq(991) {
                grid-template-columns: repeat(2, 40vmax);
            }
            @include mq(768) {
                grid-template-columns: 1fr;
            }
            column-gap: 1em;
            row-gap: 2em;
            margin-top: 1em;
            #create-post {
                position: fixed;
                z-index: 100;
                box-shadow: $box-shadow;
                aspect-ratio: 1 / 1;
                width: 50px;
                border-radius: 50%;
                right: 20px;
                top: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateY(-50%);
                background-image: $alt-gradient-bg;
                &:hover {
                    box-shadow: 0px 2px 10px #070e1a3f;
                }
                > a {
                    position: relative;
                    transform: translateY(4px);
                    text-align: center;
                    * {
                        color: #525f7f;
                    }
                }
            }
            .post {
                position: relative;
                box-shadow: $box-shadow;
                border-radius: 5px;
                .thumbnail {
                    margin: 0;
                    img {
                        width: 100%;
                        height: 180px;
                        object-fit: cover;
                    }
                }
                .excerpt {
                    padding: 0.8em;
                    > * {
                        font-weight: 600;
                    }
                    > p {
                        margin: 0;
                    }
                    .title {
                        font-size: 17px;
                    }
                    .author {
                        font-size: 14px;
                        padding-top: 0.5em;
                        color: #525f7fa6;
                        margin-bottom: 1em;
                    }
                    .category {
                        float: right;
                        font-size: 13px;
                        padding: 0.5em 1em;
                        background-image: $alt-gradient-bg;
                        border-radius: 150px;
                    }

                    @include mq(480) {
                        .title {
                            font-size: 15px;
                        }
                        .author {
                            font-size: 14px;
                        }
                    }

                    a {
                        font-size: 13px;
                        padding-top: 0.5em;
                        display: inline-block;
                        span {
                            vertical-align: middle;
                            &.material-icons {
                                position: relative;
                                top: 1px;
                                transition: 0.3s;
                            }
                        }
                        &:hover {
                            span.material-icons {
                                transform: translateX(5px);
                            }
                        }
                    }
                }
            }
        }

        .full-article {
            > .content-header {
                color: #fff;
                background-size: 100% 100%;
                background-position: center center;
                background-repeat: no-repeat;
                padding-left: 1em;
                padding-right: 1em;
                padding-bottom: 1em;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    inset: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
            .article-info {
                position: relative;
                .icon {
                    img {
                        height: 25px;
                        width: 25px;
                    }
                    ~ span {
                        vertical-align: middle;
                    }
                }
                .author,
                .date {
                    font-size: 14px;
                    font-weight: 600;
                    opacity: 0.7;
                }
            }
            .page {
                display: grid;
                grid-template-columns: 1fr 300px;
                column-gap: 1.5em;
                margin-top: 0.8em;
                background-color: #fff;
                @include mq(850) {
                    grid-template-columns: 1fr;
                }
                section.body {
                    p {
                        font-size: 15px;
                        line-height: 2;
                    }

                    .comments {
                        .comment-scroll {
                            max-height: 400px;
                            overflow-y: scroll;
                            @include invisible_scrollbar;
                        }
                        .user-replies {
                            position: relative;
                            &::before,
                            &::after {
                                position: absolute;
                                height: 50%;
                                width: 5px;
                                content: "";
                            }
                            &::before {
                                top: 0;
                                border-top-left-radius: 0.25em;
                                background-color: #94c997;
                                background-image: linear-gradient(
                                    315deg,
                                    #94c997 0%,
                                    #daacec 74%
                                );
                            }
                            &::after {
                                bottom: 0;
                                left: 0;
                                border-bottom-left-radius: 0.25em;
                                background-color: #d9e4f5;
                                background-image: linear-gradient(
                                    315deg,
                                    #d9e4f5 0%,
                                    #f5e3e6 74%
                                );
                            }
                        }
                    }
                }

                aside.author {
                    box-shadow: $box-shadow;
                    background-color: #fff;
                    padding: 1em 0.5em;
                    top: -3em;
                    position: relative;
                    border-radius: 20% 0px 10% 10% / 30px;
                    align-self: baseline;
                    @include mq(850) {
                        display: none;
                    }
                    header {
                        display: flex;
                        align-items: center;
                        column-gap: 0.5em;
                        margin-top: -20px;
                        img {
                            width: 80px;
                            aspect-ratio: 1 /1;
                            border-radius: 50%;
                            object-fit: cover;
                            margin-left: -1.2em;
                            position: relative;
                            top: -5px;
                        }
                        .name {
                            font-weight: 600;
                            opacity: 0.7;
                        }
                        .role {
                            font-size: 10px;
                            padding: 0.4em 0.8em 0.5em;
                            background-image: $alt-gradient-bg;
                            border-radius: 150px;
                            font-weight: 600;
                            margin-top: 4px;
                            display: inline-block;
                        }
                    }
                    footer {
                        .socials {
                            margin: 0;
                            margin-top: 0.5em;
                            img {
                                aspect-ratio: 1 /1;
                                width: 30px;
                                margin: 0 0.3em;
                            }
                        }
                    }
                }
            }
        }

        // * settings page
        &.settings {
            .nav-link.active {
                background-color: $primary-color !important;
            }
        }
    }
}

#bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $primary-color;
    display: none;
    padding: 0.3em 0;
    justify-content: space-evenly;
    @include mq(520) {
        display: flex;
    }
    .nav-menu {
        color: whitesmoke !important;
        display: inline-block;
        text-align: center;
        margin: 4px 0.7em 0;
        .material-icons {
            font-size: 20px;
            display: none;
        }
        .icon img {
            height: 20px;
            width: 20px;
            margin-bottom: 4px;
        }
        &:hover {
            p {
                transform: translateY(-2px);
            }
        }
        p {
            transform: translateY(0);
            transition: 0.3s;
            margin: 0;
            font-size: 10px;
            font-weight: 600;
            white-space: nowrap;
        }
    }
}

.footer {
    display: table;
    overflow: hidden;
    position: relative;
    background-color: $primary-color;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    height: 25px;
    padding: 0.9rem 0 !important ;
    @include mq(520) {
        display: none;
    }
}
