@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

$primary-color: #172b4d;
$primary-color-alt: #eebb1a;

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin mq($arg) {
    @media screen and (max-width: #{$arg}px) {
        @content;
    }
}

//  max height
@mixin mqh($arg) {
    @media screen and (max-height: #{$arg}px) {
        @content;
    }
}

@mixin invisible_scrollbar {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

@mixin fancy_scrollbar {
    &::-webkit-scrollbar {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ddd;
        border-radius: 30px;
    }

    &::-webkit-scrollbar-track {
        margin: 30vw;
        border-radius: 30px;
    }
}

